
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);}



.auth-container {
    background: rgba(243, 235, 235, 0.278);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 2px solid rgba(254, 251, 238, 0.78);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 15rem;

    

}

.auth-container a{
    text-decoration: underline;
    color: black;
}